<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" routerLink="/rent-view">Rent View</a>
		</li>
		<li>
			<a class="nav-link" routerLink="/user-view">User View</a>
		</li>
		<li>
     		<a class="nav-link" routerLink="/store-view">Store View</a>
		</li>
		<li>
			<a class="nav-link" routerLink="/articles">Articles</a>
		</li>	
      	<li>	
			<a class="nav-link" routerLink="/card">Cart</a>
    	</li>	
		<li>
			<a class="nav-link" routerLink="/login">Login</a>
		</li>
	</ul>
</nav><router-outlet></router-outlet>
