<div class="col-12">
    <br>
    <button (click)="seeReport()">See report</button>
    <br>
    <kendo-grid
      #appUserGrid
      [pageable]="true"
      [sortable]="true"
      [selectable]="true"
      [filterable]="true"
      [data]="dataServiceData | async"
      [pageSize]="state.take"
      [skip]="state.skip"
      [sort]="state.sort"
      [filter]="state.filter"
      [loading]="dataService?.pendingData"
      (dataStateChange)="dataStateChange($event)"
      (edit)="editHandler($event)"

      (remove)="removeHandler($event)"
      (add)="addHandler()"
      (selectionChange)="gridUserSelectionChange(appUserGrid, $event)"
    >

      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>
          <span class="k-icon k-i-add"></span>
        </button>
      </ng-template>
    
      <kendo-grid-column
        [field]="'AppUserId'"
        [filterable]="true"
        [filter]="'text'"
        [sortable]="true"
        [title]="'AppUserId'"
      ></kendo-grid-column>
      <kendo-grid-column
        [field]="'Name'"
        [filterable]="true"
        [filter]="'text'"
        [sortable]="true"
        [title]="'Name'"
      ></kendo-grid-column>
      <kendo-grid-column
        [field]="'UserName'"
        [filterable]="true"
        [filter]="'text'"
        [sortable]="true"
        [title]="'UserName'"
      ></kendo-grid-column>
      <kendo-grid-column
        [field]="'Password'"
        [filterable]="true"
        [filter]="'text'"
        [sortable]="true"
        [title]="'Password'"
      ></kendo-grid-column>

      <kendo-grid-command-column [width]="220">
        <ng-template kendoGridCellTemplate>
          <button kendoGridEditCommand>
            <span class="k-icon k-i-edit"></span>Edit
          </button>
          <button kendoGridSaveCommand>
            <span class="k-icon k-i-checkmark"></span>Save
          </button>
          <button kendoGridCancelCommand>
            <span class="k-icon k-i-cancel"></span>Cancel
          </button>
          <button kendoGridRemoveCommand>
            <span class="k-icon k-i-close"></span>Remove
          </button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>

  <app-edit-form
  [model]="editDataItem"
  [isNew]="isNew"
  (save)="saveHandler($event)"
  (cancel)="cancelHandler()"
  [userRoleList] = "userRoleList"
  >
  </app-edit-form> -->

  
  <div *ngIf="currentAppUserId != '' ">
    <app-user-role-view [UserName]="currentAppUserName" [AppUserId]="currentAppUserId"> </app-user-role-view>
  </div>
  
