<div class="col-12" *ngIf = "roleType != '3'">
    <kendo-grid
      #customerGrid
      [pageable]="true"
      [sortable]="true"
      [selectable]="true"
      [filterable]="true"
      [data]="dataServiceData | async"
      [pageSize]="state.take"
      [skip]="state.skip"
      [sort]="state.sort"
      [filter]="state.filter"
      [loading]="dataService?.pendingData"
      (dataStateChange)="dataStateChange($event)"
      (edit)="editHandler($event)"
      (cancel)="cancelHandler($event)"
      (save)="saveHandler($event)"
      (remove)="removeHandler($event)"
      (add)="addHandler($event)"
      >      
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>
          <span class="k-icon k-i-add"></span>
        </button>
      </ng-template>
      <kendo-grid-column
        [field]="'Address'"
        [filterable]="true"
        [filter]="'text'"
        [sortable]="true"
        [title]="'Address'"
        [width]="85"
      ></kendo-grid-column>
      <kendo-grid-command-column [width]="220">
        <div *ngIf = "roleType != '3'">
        <ng-template kendoGridCellTemplate>
          <button kendoGridEditCommand>
            <span class="k-icon k-i-edit"></span>Edit
          </button>
          <button kendoGridSaveCommand>
            <span class="k-icon k-i-checkmark"></span>Save
          </button>
          <button kendoGridCancelCommand>
            <span class="k-icon k-i-cancel"></span>Cancel
          </button>
          <button kendoGridRemoveCommand>
            <span class="k-icon k-i-close"></span>Remove
          </button>
        </ng-template>
        </div>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>
  <app-article></app-article>


